.avatar {
    /* background-color: rgb(92, 204, 157); */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 12.5px;
    background-color: #d8d8d8;
    display: inline-table;
    justify-content: center;
    align-items: center;
}


.avatar-name {
    margin-top: 7px;
}

/* resize message width */
.react-chatbot-kit-chat-bot-message {
    background-color: #2898ec;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    font-weight: medium;
    position: relative;
    width: 206.5px;
    margin-left: auto;
    text-align: left;
}