.portfolio-container {
    /* background-color: blueviolet; */
    text-align: -webkit-center;
}

.portfolio-items {
    border-radius: 25px;
    padding: 8px;
    background-color: #5CCC9D;
    border: 1px solid #5CCC9D;
    color: white;
    font-weight: 700;
    margin: 4px;
    cursor: pointer;
    width: 175px;
}

.portfolio-items:hover {
    background-color: #91dbbc;
    border: 1px solid #91dbbc;
}

.portfolio-items:active {
    background-color: #28d18b;
    border: 1px solid #28d18b;
}